include legos/navbar
script(type="text/ng-template", id="phonePopover").
	<div class="form-group">
		<label>Phone:</label>
		<input type="tel" ng-model="footer.phone" class="form-control">
		<button ng-click="togglePopover('phone')" class="btn btn-primary btn-sm">OK</button>
	</div>
script(type="text/ng-template", id="calendlyPopover").
	<div class="form-group">
		<label>Calendly:</label>
		<input type="url" ng-model="footer.calendly" class="form-control">
		<button ng-click="togglePopover('calendly')" class="btn btn-primary btn-sm">OK</button>
	</div>
script(type="text/ng-template", id="emailPopover").
	<div class="form-group">
		<label>Email:</label>
		<input type="email" ng-model="footer.email" class="form-control">
		<button ng-click="togglePopover('email')" class="btn btn-primary btn-sm">OK</button>
	</div>
div.container(ng-init="setFooter('{{(user.signature if user.signature != None) | replace('\'', '\\\'') | replace('\n', '\\n') | replace('\r', '')}}', '{{(user.phone if user.phone != None)| replace('\'', '\\\'') | replace('\n', '\\n') | replace('\r', '')}}', '{{(user.calendly if user.calendly != None)| replace('\'', '\\\'') | replace('\n', '\\n') | replace('\r', '')}}', '{{(user.email if user.email != None)| replace('\'', '\\\'') | replace('\n', '\\n') | replace('\r', '')}}')")
	div.row#template-one
		div.col-md-3.template-controls
			div.enclosure
				div.row.align-center
					a(ui-sref="choose-template.preview-one")
						span.fa.fa-arrow-left.padding-right
						span Choose Layout
				div.row(ng-repeat="(title, value) in inputs")
					div.form-group
						label {(title)}
						input.form-control(ng-model="inputs[title]")
				div.row
					button.btn.max-width.cp-green(ng-click="save()") Save
		div.col-xs-9.no-padding-left
			div.templates
				div.preview
					div.row
						div.col-md-12
							div#cover-photo.document(back-img="{(uploads.coverImage.source)}")
								div
									label.label.label-primary(ng-show="!imageUploaded")
										input(type="file",
										onchange="angular.element(this).scope().uploadJPG(this.files,'coverImage')")
										span.padding-right Upload From Computer
										span.fa.fa-file
					div.row
						div.col-md-5.col-md-offset-2
							h2 Hey, {(inputs['Subject'])}
							p {(inputs['Main Description'])}
						div.col-md-3.text-center
							div#logo.document(back-img="{(uploads.logo.source)}")
								label.label.label-primary(ng-show='!logoUploaded')
									input(type="file",
									onchange = "angular.element(this).scope().uploadJPG(this.files, 'logo')")
									span.padding-right logo
									span.fa.fa-file
					div.row.text-center
						h2 {(inputs['Template Title'])}
					div.row
						div.col-md-8.col-md-offset-2.large-presentation
							file-upload(state="uploads.lrgDisplay")
					div.row
						div.col-md-8.text-center.col-md-offset-2
							p {(inputs['Center Display Description'])}
					div.row
						div.col-md-4.col-md-offset-2.medium-presentation
							div.row
								file-upload(state="uploads.medDisplayLeft")
							div.row.text-center
								p {(inputs['Left Display Description'])}
						div.col-md-4.medium-presentation
							div.row
								file-upload(state="uploads.medDisplayRight")
							div.row.text-center
								p {(inputs['Right Display Description'])}

					div.row
						div.jumbotron.text-center
							h6 {(inputs['Quote'])}
					div.row
						div.col-md-8.col-md-offset-2
							div.preview-footer.row
								div.col-xs-4
									img.sign.pull-left(src='{{user.picture_url}}')
									div.byline.pull-right
										span.row {{user.username}}
										span.row {{user.job_title}}
								div.col-xs-5
									textarea.form-control(ng-model="footer.signature", style="margin-left: 0.5em;", placeholder="Signature")
								div.col-xs-3
									div.contact.pull-right.contact-icon.phone(uib-popover-template="'phonePopover'",
									popover-is-open="popovers.phone", popover-trigger="'none'", ng-click="togglePopover('phone')",
									popover-placement="auto top", popover-append-to-body="true")
									div.contact.pull-right.contact-icon.calendly(uib-popover-template="'calendlyPopover'",
									popover-is-open="popovers.calendly", popover-trigger="'none'", ng-click="togglePopover('calendly')",
									popover-placement="auto top", popover-append-to-body="true")
									div.contact.pull-right.contact-icon.email(uib-popover-template="'emailPopover'",
									popover-is-open="popovers.email", popover-trigger="'none'", ng-click="togglePopover('email')",
									popover-placement="auto top", popover-append-to-body="true")

		
